@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container5{
    height: 700px;
    border-bottom: 7px solid gold;
    background-color: #181818;
    .guest{
        padding: 70px 70px;
        .guestTitles{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2{
                font-size: 40px ;
                font-family: 'Montseret',sans-serif;
                color: #fff;
            }
        }
        .mySwiper4{
            height: 230px;
            margin-top: 60px;
            .mySwiperSections2{
                height: 230px;
                background-color:#fff ;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    transition: 0.5s;
                }
                img:hover{
                    width: 115%;
                    height: 115%;
                    transition: 0.5s;
                }
            }
            .mySwiperSections2:hover{
                border: 2px solid gold;
            }
        }
    }
}
@media only screen and (max-width:1100px){
    .container5{
        .guest{
            .guestTitles{
                display: block;
            }
        }
    }
}
@media only screen and (max-width:750px){
    .container5{
        height: 41x0px;
        .guest{
            padding: 20px;
            .guestTitles{
                display: block;
            }
            .mySwiper4{
                height: 200px;
                .mySwiperSections2{
                    height: 200px;
                }
            }
        }
    }
}
@media only screen and (min-width:1500px){
    .container5{
        background-color: #0A0A0A;
        width: 100%;
        .guest{
            width: 1500px;
            margin: 0 auto;
        }
    }
}
@media only screen and (max-height:9000px){
    .container5{
        height: 520px;
    }
}
@media only screen and (max-height:750px){
    .container5{
        height: 410px;
        .guest{
            .mySwiper4{
                height: 200px;
                .mySwiperSections2{
                    height: 200px;
                }
            }
        }
    }
}