@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.container3{
    background-color: #0A0A0A;
    border-bottom: 7px solid gold;
    height: 100vh;
    .news{
        background-color: #0A0A0A;
        padding: 70px 55px;
        height: 100%;
        .newsTitle{
            display: flex;
            align-items: center;
            max-width: 190px;
            cursor: pointer;
            transition: 2s;
            margin-bottom: 50px;
            h2{
                color: #fff;
                font-family: "Montserrat",sans-serif;
                font-size: 40px;
                font-weight: 600;
            }
        }
        .newsTitle:hover{
            transition: 5s;
            h2{
                color: gold;
            }
            .strelka{
                .strelkaItem{
                    right: 0;
                    color: gold;
                }
            }
        }
        .mySwiper1 {
            width: 100%;
            height: 500px;
            .mySwiperSections{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 500px;
                img{
                    width: 100%;
                    height: 210px;
                }
                .divTitles{
                    padding: 20px;
                    background-color: #454545;
                    p{
                        color: #fff;
                        font-family: "Montserrat",sans-serif;
                        font-weight: 600;
                        line-height: 20px;
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                    strong{
                        color: #fff;
                        font-family: "Montserrat",sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                    }
                    .newsBilmadm{
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 15px;
                        font-family: "Montserrat",sans-serif;
                        color: gold;
                        p{
                            color: gold;
                            font-weight: 400;
                            margin-top: 13px;
                        }
                    }
                }
            }
        }
    }
}
.swiper-button-next{
    background-color: #575757;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
}
.swiper-button-prev{
    background-color: #575757;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
}
.swiper-button-next:hover{
    border: 1px solid gold;
    color: gold;
}
.swiper-button-prev:hover{
    border: 1px solid gold;
    color: gold;
}
.swiper-button-next:after{
    font-size: 13px;
}
@media only screen and (min-width:1500px){
    .container3{
        background-color: #0A0A0A;
        height: 100vh;
        width: 100%;
        .news{
            width: 1500px;
            margin: 0 auto;
        }
    }
}
@media only screen and (max-width:500px){
    .container3{
        .news{
            padding: 30px;
            height: auto;
        }
    }
}
@media only screen and (max-height:9000px){
    .container3{
        height: 700px;
    }
}
@media only screen and (max-height:750px){
    .container3{
        height: 700px;
    }
}
@media only screen and (max-width:900px){
    .swiper-button-next{
        display: none;
    }
    .swiper-button-prev{
        display: none;
    }
}