@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

nav{
    max-width: 100%;
    width: 100%;
    height: 113px;
    background-color: #1F1F20;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
    .nav-wrapper{
        width: 90%;
        height: 100%;
        padding: 0 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .saytLogo{
            width: 72px;
            height: 62px;
        }
        .saytPages{
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    padding: 8px 16px;
                    list-style-type: none;
                    overflow: hidden;
                    a{
                        text-decoration: none;
                        color: #c7c7c7;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .hoverLine{
                        width: 100%;
                        height: 3px;
                        background-color: gold;
                        margin-left: -200px;
                        transition: 0.5s;
                    }
                }
                .withArrow{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5em;
                    position: relative;
                    overflow: visible;
                    font-size: 20px;
                    color: #fff;
                    transition: 1s;
                    .hoverDiv{
                        width: auto;
                        height: 0;
                        transition: 1s;
                        position: absolute;
                        top: 10px;
                        left: 15px;
                        z-index: 10;
                        overflow: hidden;
                        visibility: hidden;
                        p{
                            padding: 20px 20px 10px 20px;
                            color: #fff;
                            cursor: pointer;
                            font-family: "Montserrat",sans-serif;
                            font-size: 18px;
                        }
                        p:hover{
                            color: gold;
                            background-color: #3e3e3f;
                        }
                    }
                }
                .withOutArrow:hover{
                    a{
                        color: gold;
                    }
                    .hoverLine{
                        margin-left: 0;
                        transition: 1s;
                    }
                }
                .withArrow:hover{
                    position: relative;
                    color: gold;
                    transition: 1s;
                    .hoverDiv{
                        height: auto;
                        position: absolute;
                        top: 35px;
                        background-color: #1F1F20;
                        border: 1px solid #fff;
                        border-radius: 10px;
                        visibility: visible;
                    }
                    a{
                        color: gold;
                    }
                }
            }
        }
        .seeUs{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width:10px;
            gap: 20px;
            a{
                color: #fff;
                font-size: 25px;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0 solid gold;
                transition: all 0.5s ease-in-out;
                border-radius: 0; 
            }
            a:hover{
                border: 2px solid gold;
                animation: animate 1s ease-in-out;
                color: gold;

                @keyframes animate{
                    50%{
                        border-radius: 20%;
                    }
                    100%{
                        border-radius: 50%;
                    }
                }
            }
        }
        .navLanguages{
            width: 87px;
            height: 45px;
            border: 1px solid #fff;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            cursor: pointer;
            background-color: #121212;
            .ru{
               display: flex;
               align-items: center;
               justify-content: center;
               width: 100%;
               height: 100%;
               font-size: 24px;
               color: #fff;
               gap: 5px;
               strong{
                font-size: 18px;
                font-family: 'Montserrat',sans-serif;
                color: #fff;
               } 
            }
            .langHover{
                position: absolute;
                border: none;
                top: 40px;
                width: 87px;
                height: 0;
                left: -1px;
                transition: 0.5s;
                overflow: hidden;
                background-color: #121212;
                .eng{
                    height: 0;
                    display: none;
                    color: #fff;
                    padding-left: 16px;
                    margin-top: 10px;
                    strong{
                        font-size: 18px;
                        font-family: 'Montserrat',sans-serif;
                    }
                }
                .uz{
                    height: 0;
                    display: none;
                    color: #fff;
                    padding-left: 16px;
                    margin-top: 10px;
                    strong{
                        font-size: 18px;
                        font-family: 'Montserrat',sans-serif;
                    }
                }
                .eng:hover{
                    strong{
                        color: gold;
                    }
                }
                .uz:hover{
                    strong{
                        color: gold;
                    }
                }
            }
            .ru:hover{
                color: gold;
                strong{
                    color: gold;
                }
            }
        }
        .navLanguages:hover{
            border: 1px solid gold;
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            transition: 0.5s;
            .langHover{
                transition: 0.5s;
                border: 1px solid gold;
                height: 77px;
                border-top: none;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                .eng{
                    height: auto;
                    display: block;
                }
                .uz{
                    height: auto;
                    display: block;
                }
            }
        }
        .hamburger{
            color: #fff;
            font-size: 39px;  
            display: none; 
            z-index: 10;     
        }
        .mediaNav{
            height: 100vh;
            width: 400px;
            background-color: #121212;
            position: absolute;
            top: -24px;
            left: 0;
            padding: 25px;
            margin-left: -400px;
            transition: 1s;
            padding-left: 10px;
            img{
                width: 72px;
                height: 62px;
            }
            .navWithOutArrow{
                margin-top: 30px;
                color: #fff;
                p{
                    font-size: 17px;
                    color: #c7c7c7;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    cursor: pointer;
                }
                p:hover{
                    color: gold;
                }
            }
            .navWithArrow{
                display: flex;
                color: #fff;
                margin-top: 30px;
                font-size: 20px;
                gap: 5px;
                min-width: 100px;
                p{
                    font-size: 17px;
                    color: #c7c7c7;
                    font-family: 'Montserrat';
                    font-weight: 600;
                    cursor: pointer;
                    div{
                        height: 0;
                        transition: 0.5s;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        span{
                            color: #fff;
                            padding: 5px;
                            border-radius: 5px;
                        }
                        span:hover{
                            color: gold;
                            background-color: rgb(83, 82, 82);
                        }
                    }
                }
                p:hover{
                    color: gold;
                    div{
                        height: 130px;
                        transition: 0.5s;
                    }
                    .boshqa{
                        height: 80px;
                    }
                    .boshqaa{
                        height: 150px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:1700px){
    nav{
        .nav-wrapper{
            max-width: 1530px;
            .mediaNav{
                display: none;
            }
        }
    }
}
@media only screen and (max-width:1700px){
    nav{
        .nav-wrapper{
            max-width: 1530px;
            .mediaNav{
                display: none;
            }
        }
    }
}
@media only screen and (max-width:1500px){
    nav{
        .nav-wrapper{
            padding: 0 10px;
            width: 100%;
            .saytPages{
                ul{
                    li{
                        font-size: 13px;
                        padding: 4px 8px;
                        a{
                            font-size: 13px;
                        }
                    }
                    .withArrow{
                        gap: 0.2em;
                    }
                    .withArrow{
                        .hoverDiv{
                            p{
                                font-size: 13px;
                                padding: 10px 10px 5px 10px;
                            }
                        }
                    }
                }
            }
            .seeUs{
                gap: 5px;
                a{
                    font-size: 15px;
                    width: 25px;
                    height: 25px;
                }
            }
            .mediaNav{
                display: none;
            }
        }
    }
}
@media only screen and (max-width:1025px){
    nav{
        .nav-wrapper{
            .saytPages{
                display: none;
            }
            .seeUs{
                display: none;
            }
            .navLanguages{
                display: none;
            }
            .hamburger{
                display: block;
            }
            .mediaNav{
                display: block;
            }
        }
    }
}